#####################################
# Entornos virtuales
#####################################
.venv/
venv/
env/
ENV/

#####################################
# Archivos personales que NO van al repo
#####################################
pasos.md
todo.md
notas.md
debug.md
#####################################
# Archivos temporales / cache
#####################################
*.pyc
__pycache__/
.ipynb_checkpoints/
*.log
pytest_cache/

#####################################
# Directorios de build / dist
#####################################
build/
dist/

#####################################
# Archivos del sistema
#####################################
.DS_Store
__MACOSX/
Thumbs.db

#####################################
# Variables de entorno
#####################################
*.env

#####################################
# Carpeta Sandbox
#####################################
sandbox/

#####################################
# Python testing / coverage / reports
#####################################
.coverage
.coverage.*
.pytest_cache/
.reports/
reports
#####################################
# Vscode settings
#####################################
.vscode/
